.Categories-Container {
  display: flex;
  padding: 20px;
  justify-content: space-between;
}
@media only screen and (max-width: 420px) {
  .Categories-Container {
    padding: 0;
    flex-direction: column;
  }
}
