.Cart-Wrapper {
  padding: 20px;
}

.Cart-Title {
  font-weight: 300;
  text-align: center;
}

.Cart-Top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.Cart-TopButton {
  padding: 10px;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid purple;
}

/* .Cart-TopTexts {
} */
.Cart-TopText {
  text-decoration: underline;
  cursor: pointer;
  margin: 0px 10px;
}

.Cart-Bottom {
  display: flex;
  justify-content: space-between;
}

.Cart-Info {
  flex: 3;
}

.Cart-Product {
  display: flex;
  justify-content: space-between;
}

.Cart-ProductDetail {
  flex: 2;
  display: flex;
}

.Cart-Image {
  width: 200px;
}

.Cart-Details {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.Cart-PriceDetail {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Cart-ProductAmountContainer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.Cart-ProductAmount {
  font-size: 24px;
  margin: 5px;
}

.Cart-ProductPrice {
  font-size: 30px;
  font-weight: 300;
}

.Cart-Hr {
  background-color: #eee;
  border: none;
  height: 1px;
}

.Cart-Summary {
  flex: 1;
  border: 0.5px solid lightgray;
  border-radius: 10px;
  padding: 20px;
  height: 50vh;
}

.Cart-SummaryTitle {
  font-weight: 200;
}

.Cart-SummaryItem {
  margin: 30px 0px;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 420px) {
  .Cart-Wrapper {
    padding: 10px;
  }
  .Cart-TopTexts {
    display: none;
  }
  .Cart-Bottom {
    flex-direction: column;
  }
  .Cart-ProductAmount {
    margin: 5px 15px;
  }
  .Cart-ProductPrice {
    margin-bottom: 20px;
  }
}
